@using Neatoo
@using System.Linq
@using System.ComponentModel

<style>
    .disabled {
    background-color: lightgray;
    }

    .invalid {
    border-color: red;
    }
</style>

<label for="inputText" class="form-label">@EditProperty.DisplayName</label>
<InputText id="@EditProperty.Name" @bind-Value:get="@EditProperty.StringValue"
@bind-Value:set="(value) => EditProperty.SetStringValue(value)"
disabled="@EditProperty.IsBusy"
class="@GetInputClass()"
title="@GetErrorMessage()" />
<ValidationMessage For="@(() => EditProperty.StringValue)" class="text-danger" />

@code {

    [CascadingParameter]
    public EditContext EditContext { get; set; }

    [Parameter]
    public IEditProperty EditProperty { get; set; }

    private string GetInputClass()
    {
        if (EditProperty.IsBusy)
        {
            return "text-box disabled";
        }
        if (!EditProperty.IsValid)
        {
            return "text-box invalid";
        }
        return "text-box";
    }

    private string GetErrorMessage()
    {
        return EditProperty.PropertyMessages.Any() ? string.Join(", ", EditProperty.PropertyMessages.Select(r => r.Message)) : string.Empty;
    }


}
