@using Neatoo
@using System.Linq
@using System.ComponentModel

<style>
    .disabled {
    background-color: lightgray;
    }

    .invalid {
    border-color: red;
    }
</style>

<label for="inputText" class="form-label">@EntityProperty.DisplayName</label>
<InputText id="@EntityProperty.Name" @bind-Value:get="@EntityProperty.StringValue"
@bind-Value:set="(value) => EntityProperty.SetStringValue(value)"
disabled="@EntityProperty.IsBusy"
class="@GetInputClass()"
title="@GetErrorMessage()" />
<ValidationMessage For="@(() => EntityProperty.StringValue)" class="text-danger" />

@code {

    [CascadingParameter]
    public EditContext EditContext { get; set; }

    [Parameter]
    public IEntityProperty EntityProperty { get; set; }

    private string GetInputClass()
    {
        if (EntityProperty.IsBusy)
        {
            return "text-box disabled";
        }
        if (!EntityProperty.IsValid)
        {
            return "text-box invalid";
        }
        return "text-box";
    }

    private string GetErrorMessage()
    {
        return EntityProperty.PropertyMessages.Any() ? string.Join(", ", EntityProperty.PropertyMessages.Select(r => r.Message)) : string.Empty;
    }


}
